<div class="page-header">
   <h1>Resultados da busca por: "{{parametro}}"</h1>
</div>


<div class="row" ng-repeat="item in produtos">
	<div ng-show="item.imagem != ''">
		<img src="http://vps4856.publiccloud.com.br:8000/{{item.imagem}}">
	</div>
	
	<h5>{{item.descricao}}</h5>
	<p ng-show="item.qtd_estabelecimentos > 0">{{item.qtd_estabelecimentos}} a partir de R$ {{item.menor_preco}}</p> 
	<br>
</div>

