<!doctype html>
<html ng-app="app">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-language" content="pt-br" />
      <title>Poupe-me</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

      <script src="app/app.js"></script>
      <script src="app/controllers/MainCtrl.js"></script>
      <script src="app/controllers/PesquisaCtrl.js"></script>     
      <script src="app/controllers/LoginCtrl.js"></script>  
   </head>

   <body>  
      <div ng-controller="MainCtrl">
         <div class="col-sm-3">
            <a href="#/">Poupe-me</a>
              <a href="#/login">Login</a>
         </div>
         <div class="col-sm-6">
             <div class="input-group">
               <input type="text" class="form-control" placeholder="Buscar por..." ng-model="parametro">
               <span class="input-group-btn">
                 <button class="btn btn-secondary" ng-click="pesquisar(parametro)" type="button">Pesquisar!</button>
               </span>
             </div>             
         </div>        
      </div>


      <div ng-view class="container"></div>
   </body>
</html>